.actionSet {
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 360px) {
    .actionSet {
        justify-content: space-between;
    }
}

.actionSet button {
    text-align: center;
}