.interference {
    white-space: pre;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 1em;
}

.interference--pattern {
    line-height: 0.8em;
}

.interference--solution {
    font-size: 1.25em;
}