.interviewQuestion {
    margin: 1em;
    padding: 0.5em 0.75em;
    border-radius: 0.75em;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.interviewQuestion--primary {
    background-color: #eee;
}

.interviewQuestion--secondary {
    background-color: #aaa;
    color: #000;
}

.interviewQuestion__wrapper, .interviewQuestion__secondaryWrapper {
    opacity: 0.8;
    text-transform: uppercase;
}

.interviewQuestion__wrapper {
    font-weight: bold;
}

.interviewQuestion__secondaryWrapper {
    font-style: italic;
}

.interviewQuestion__text {
    align-self: flex-start;
}

.interviewQuestion__examples {
    margin: 0;
    align-self: flex-start;
}

.interviewQuestion__example {
    font-style: italic;
}

.interviewQuestion__text::after {
    content: ', e.g.';
}

.interviewQuestion__sort {
    position: absolute;
    right: 0.25em;
    padding: 0.1em 0.5em;
}

.interviewQuestion__sort--up {
    top: 0.25em;
}

.interviewQuestion__sort--down {
    bottom: -0.25em;
}