.suspectRole {
    margin: 1em;
    margin: 1em;
    padding: 0.5em 0.75em;
    border-radius: 0.75em;
    align-self: stretch;
    min-height: 8.5em;
    display: flex;
    flex-direction: column;
}

.suspectRole--Human {
    background-color: #eee;
}

.suspectRole--PatientRobot {
    background-color: #666;
    color: #ccc;
}

.suspectRole--ViolentRobot {
    background-color: #444;
    color: #ccc;
}

.suspectRole--selectable {
    cursor: pointer;
}

.suspectRole__name {
    font-size: 1.5em;
}

.suspectRole__traits {
    flex-grow: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}